




<div id="contacto"  class="section">
  <h1 class="text-center">CONTACTO</h1>
      <h4><p>Puedes ponerte en contacto con nosotros a través de los siguientes medios:</p>
    
        <div class="correo">
            <%= image_tag "gmail.png", class: "iconomail", size: "30x30" %>
            <%= link_to "habt35@hotmail.com", "mailto:habt35@hotmail.com" %> <br> <br>
            <%= link_to "+56973489836", "tel:+56973489836", class: "telefono-enlace" %>
        </div>

      <h4>Síguenos en las redes sociales:</h4> <br>
      <div class="redes-sociales">
        <%= image_tag "facebook.png", class: "face", size: '30x30' %>
        <%= link_to 'Facebook', 'https://web.facebook.com/grupotradicionlemuy' %> <br> <br>
        <%= image_tag "instagram.png", class: "insta", size: "30x30" %>
        <%= link_to "Instagram", "https://www.instagram.com/tu_pagina" %> <br>
       </div>
    
    <footer>
      <div class="piedepagina">
        <p>&copy; <%= Time.now.year %> TRADICION DE LEMUY</p>
      </div>
    </footer>
</div>