


<div id="foto" class="section">
    <div class="container">
        <br>
        <div class="text-center"><h1>FOTOS</h1></div><br>
            <div id="carouselExampleFade" class="carousel slide carousel-fade">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <%= image_tag "tradicion1.jpg", class: "d-block w-100 img-fluid", alt: "Imagen 1", loading:"lazy" %>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag "tradicion2.jpg", class: "d-block w-100 img-fluid", alt: "Imagen 2", loading:"lazy" %>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag "tradicion3.jpg", class: "d-block w-100 img-fluid", alt: "Imagen 3", loading:"lazy" %>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag "tradicion4.jpg", class: "d-block w-100 img-fluid", alt: "Imagen 4", loading:"lazy" %>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag "tradicion5.jpg", class: "d-block w-100 img-fluid", alt: "Imagen 5", loading:"lazy" %>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag "tradicion6.jpg", class: "d-block w-100 img-fluid", alt: "Imagen 6", loading:"lazy" %>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag "tradicion7.jpg", class: "d-block w-100 img-fluid", alt: "Imagen 7", loading:"lazy" %>
                    </div>
                    <div class="carousel-item">
                        <%= image_tag "tradicion8.jpg", class: "d-block w-100 img-fluid", alt: "Imagen 8", loading:"lazy" %>
                    </div>
                
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
    </div>
</div>
